html,
body {
  max-width: 100vw!important;
  /* box-sizing: content-box; */
  overflow-x: hidden;
}

@media (max-width: 740px) {
  body {
    /* max-width: 100vw;
    overflow-x: hidden!important; */
  }
}

video{
  width: 100%;
}

.noPad {
  padding: 0 !important;
}

.noMargin {
  margin: 0 !important;
}

.noBk {
  background: none !important;
}

.h100 {
  height: 100vh !important;
}

.h100x {
  height: 100%;
}

.h50 {
  min-height: 50vh !important;
}

.h80 {
  min-height: 80vh !important;
}

.w100 {
  width: 100% !important;
}


@media (min-width: 740px) {
  .w50 {
    width: 50% !important;
  }
}

.w80 {
  width: 80% !important;
}

.mt-7 {
  margin-top: 6rem !important;
}

.bk-cover {
  background-size: cover!important;
  background-position: center!important;
}

.camel {
  color: #ecb966;
}

.rosa {
  color: #d18783;
}

.black {
  color: black !important;
}

.white{
  color: white!important;
}

.red{
  color: red!important;
}

.red:hover{
  color: red!important;
  font-weight: bold;
}

.grey {
  color: #6d6e71 !important;
}

.grey2 {
  color: #4d4d4f;
}

.unoem {
  font-size: 1em!important;
}

.cero7em {
  font-size: 0.7em!important;
}

.cero8em {
  font-size: 0.8em!important;
}

.input-line {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 20px;
  border: 0 solid #b7b7b7;
  border-bottom-width: 1px;
  font: normal 16px/normal "Times New Roman", Times, serif;
  color: rgb(50, 53, 54);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(252, 252, 252, 1);
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.66);
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  border-radius: 0!important;
}

.input-line2 {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 20px;
  border: 0 solid #b7b7b7;
  border-bottom-width: 1px;
  font: normal 16px/normal "Times New Roman", Times, serif;
  color: rgb(50, 53, 54);
  -o-text-overflow: clip;
  text-overflow: clip;
  border-radius: 0!important;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.button-line {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 10px 20px;
  border: 0 solid #b7b7b7;
  border-bottom-width: 1px;
  color: #ecb966;
  font-family: 'roboto-condensed';
  font-weight: bold;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(252, 252, 252, 1);
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

/* NAV */
.inner a i {
  font-size: 1.5em;
}

.tool-bar-res .inner a i {
  font-size: 1em;
}

@media (max-width: 740px) {
  .nav {
    max-height: 11vh;
  }

  .logo-res {
    max-height: 9.5vh !important;
  }

  .logo-res img {
    max-height: 9.5vh;
  }
}

/*   CONTENEDOR MAIN   */
.main-content {
  /* width: 95% !important; */
  /* margin-left: 5%; */
  color: #bcbec0;
  background: #ffffff;
  height: 200vh !important;
  font-size: 1.3em;
}

.carusel-img {
  height: 95vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.c1 {
  background-image: url(../img/carousel/desktopSlide1.png);
}

.c2 {
  background-image: url(../img/carousel/);
}

.c3 {
  background-image: url(../img/);
}

/*   MEDIA QUERYS PARA CARUSEL   */
@media (max-width: 740px) {
  .c1 {
    background-image: url(../img/carousel/mobileSlide1.png);
  }

  .c2 {
    background-image: url(../img/);
  }

  .c3 {
    background-image: url(../img/);
  }
}

/* FIN MEDIA QUERYS PARA CARUSEL */

.hastag {
  color: #edba66;
  font-size: 2.5em;
}

.slogan {
  font-size: 0.7em;
}

/*   MEDIA QUERYS PARA HASTAG   */
@media (min-width: 740px) {
  .hastag {
    font-size: 5em;
  }

  .slogan {
    font-size: 1em;
  }
}

/* FIN MEDIA QUERYS PARA HASTAG */

.advert {
  /* margin: 0 !important; */
  min-height: 5vh;
  background-color: #231f20;
  color: white;
  text-transform: uppercase;
  /* padding: 0.3em; */
  /* max-width: 100%; */
  position: sticky;
  top: 0;
  z-index: 100;
}

.advert p {
  font-size: 0.8em;
  margin: auto;
  overflow: hidden;
}

.advert a {
  cursor: pointer;
}

/*  CATALOG  */
.row-catalog {
  max-width: 70%;
  justify-content: space-between;
  margin: 20px 15%;
}

.catalog-img-large {
  width: 55%;
  height: 605px;
}

.catalog-colum {
  width: 45%;
  padding-right: 0 !important;
}

.catalog-img-box {
  width: 100%;
  height: 290px;
}

.catalog-img-box-40 {
  width: 43%;
  height: 290px;
}

.catalog-img-box-55 {
  width: 55%;
  height: 290px;
}

.catalog-text {
  width: 100%;
  height: 100%;
  color: white;
  text-decoration: none !important;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(249, 220, 215, 0.60);
  opacity: 0;
  transition: all 0.2s;
  -moz-transition: all 0.2s;
  font-size: 2em;
}

.catalog-text:hover {
  opacity: 100;
  color: white;
}

/* FIN CATALOGO */
/*  CATALOGO-ITEM  */
.catalog-item-title{
  font-size: 2em!important;
}

.catalog-item-title2{
  font-size: 1em!important;
}
/*  FIN CATALOGO-ITEM  */

/* HISTORIA */
.story-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-between;
}

.history h3 {
  font-size: 2.5em;
}

.history h2 {
  color: #d18783;
  font-size: 2.5em;
  font-weight: bold;
}

.history h2 span {
  font-family: playfair-black-italic;
  /* font-weight: bolder; */
  /* font-style: italic; */
}

.history p {
  font-size: 1em;
}

.button-story {
  box-sizing: content-box;
  display: inline-block;
  text-decoration: none;
  color: white!important;
  text-transform: uppercase;
  background-color: #86dccf;
  border: 2px solid #d18783;
  padding: 10px 20px;
  font-size: 0.8em;
  font-weight: bold;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
}

.mp-form button{
  box-sizing: content-box!important;
  display: inline-block!important;
  text-decoration: none!important;
  color: white!important;
  text-transform: uppercase!important;
  background-color: #86dccf!important;
  border: 2px solid #d18783!important;
  padding: 5px 20px!important;
  font-size: 0.8em!important;
  font-weight: bold!important;
  transition: all 0.2s linear!important;
  -moz-transition: all 0.2s linear!important;
  border-radius: 0!important;
}

.button-story:hover {
  text-decoration: none;
  color: white;
  background-color: #57a89c;
}

/* FIN HISTORIA */
/*  INSTAGRAM  */
.insta-feed {
  max-width: 100% !important;
}

.insta-feed img {
  margin: 0 !important;
  width: 16.6 !important;
}

.insta-title {
  margin-bottom: 1em;
}

.insta-title div {
  padding: 3%;
}

.insta-title h3 {
  font-size: 3em;
}

.follow-us .insta-ico {
  color: #b6ece7;
  font-size: 0.7em;
  font-weight: bold;
}

/*  FIN INSTAGRAM  */
/* FOOTER */
footer {
  clear: both;
}

footer :nth-child(2n) {
  margin: 0 1.3em;
}

.newsletter {
  margin: 10vh 0;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.newsletter-title {
  font-weight: 100;
  text-transform: uppercase;
  font-size: 2em;
}

.newsletter-input {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.footer-link {
  font-weight: bold;
  font-size: 0.7em;
  text-transform: uppercase;
  padding: 0 3em;
}

#footer-links a:not(:last-child) {
  border-right: 2px solid #d18783;
}

@media (max-width: 740px) {
  #footer-links a:not(:last-child) {
    border-right: none;
  }
}

.footer-link:hover {
  color: rgb(184, 141, 0);
}

.footer-info {
  margin-top: 2vh;
  background-color: rgb(241, 217, 138);
  min-height: 30vh;
}

.footer-info h2 {
  color: #57a89c;
  text-transform: uppercase;
  font-size: 0.9em;
}

.footer-info i {
  color: #57a89c;
  font-size: 1.2em;
}

.footer-info p {
  color: #3d413d;
  font-size: 0.7em;
}

/* FIN FOOTER */
/* FIN CONTENEDOR MAIN */

/* SHOP */
/* NAV SHOP */
.shop-menu-btn {
  font-size: 0.8em;
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  /* padding: 10px 20px; */
  border: 0 solid #4d4d4d;
  border-bottom-width: 1px;
  font: normal 16px/normal "Times New Roman", Times, serif;
  color: rgba(0, 0, 0, 1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #ffffff;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

.shop-links li a {
  text-transform: uppercase;
  font-size: 0.8em;
}

.shop-link:hover{
  color: black!important;
}

.shop-links-desk {
  padding: 1.5em;
}

.shop-link-active {
  color: black !important;
  font-weight: bold;
  text-decoration: underline;
}

.shop-bk {
  background-color: #f8f8f8;
}

.shop-bk2 {
  background-color: #efefef;
}

.shop-title {
  text-transform: uppercase;
  font-size: 1em;
}

.shop-card-title {
  text-transform: uppercase;
  font-size: 1em;
}

.shop-card-text {
  font-size: 0.8em;
  font-weight: lighter;
}

.shop-bk a:hover {
  color: #231f20;
}

.shop-links a:hover {
  color: #231f20;
}

.shop-border{
  box-shadow: inset 0 0 0 5px #f8f8f8;
}

.shop-shoe-img{
  max-width: 5em!important;
}
/* FIN SHOP  */

/* CONTACTO CSS */
#contacto-titulo{
  font-size: 4em;
}

.contacto-subtitulo{
  font-size: 1.5em;
  color: #57a89c;
}
.contacto-color{
  color: #57a89c;
}

.contacto-ico{
  font-size: 2.5em;
}

.contacto-ico:after {
  content : "";
  position: absolute;
  left    : 0;
  bottom  : 30%;
  height  : 40%;
  width   : 30%;  /* or 100px */
  border-right: 1px solid #57a89c;
}

@media (max-width: 740px){
  .contacto-ico:after {
    width   : 40%;
  }
}


/* FIN CONTACTO */

/* CATALOG ITEM */

.font4em{
  font-size:4em;

}
.font2.5em{
  font-size: 2.5em;
}
#grilla{
  box-sizing: border-box;
}
@media (max-width: 740px){
  h3#precio{
    text-align: center;
  }
}
h3#botonCompra{
  text-align: center;
  box-sizing: content-box;
  display: block;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  background-color: #86dccf;
  border: 2px solid #d18783;
  padding: 10px 20px;
  font-size: 0.8em;
  font-weight: bold;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
}
#botonTalles{
  /* text-align: center; */
  box-sizing: content-box;
  display: block;
  text-decoration: none;
  color: #4d4d4f;
  text-transform: uppercase;
  border: 2px solid #4d4d4f;
  padding: 10px 2em;
  font-size: 0.8em;
  /* font-weight: bold; */
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
}

@media (max-width: 740px){
  #modelo{
    text-align: center;
  }
}
/* MODAL */
@media (max-width: 740px){
  #modal-dialog{
    width: 100vw;
  }
}
@media (min-width:740px){
  #modal-dialog{
    width: 75vw !important;
  }
}
/* FIN MODAL */
/* FIN CATALOG ITEM */

/* Historia */
#historiaTitulo{
  font-size: 2.5em;
}
#sloganHistoria{
  font-size: 2.5em;

}
.history-fontcolor{
  color: #a3a3a3;
}
